.flex-container{
    display:flex;
    flex-direction:column;
}

.flex-container a{
    background:peachpuff;
    border:4px solid brown;
    height:100px;
    width:250px;
    flex:1 1 auto;
    text-align: center;
    padding-top:50px;
    font-size: 30px;
}

